.text-center{
	text-align: center;
}

.mb-2{
	margin-bottom: 2rem;
}

.container {
	max-width: 500px;
	margin: auto;
	padding: 1rem;
}

/* Search page */
.lottie-container{
	width: 100%;
	height: auto;
}


/* product page */
.container-tag {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
}

.category-tag {
	padding: 5px;
	background-color: darkgrey;
	border-radius: 5px;
}

.products-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.product {
	display: grid;
	grid-template-columns: 140px auto;
	max-width: 430px;
	gap: 1rem;
	min-height: 191px;
	background-color: #272727;
	padding: 10px;
	align-content: center;
	border-radius: 10px;
	box-shadow: 5px 5px 2px 2px rgba(60, 60, 60, 0.1);
}

.product picture{
	align-self: center;

}

.product-img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.product-content{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.product-title {
	font-size: 1.3rem;
}

.product-description {
	font-size: 0.8rem;
}

.product-footer{
	display: flex;
	justify-content: space-between;
}

.product-price {
	font-size: 1.3rem;
	font-weight: 600;
}

.product-rating {}